/* Estilo base para el documento */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Estilos del banner principal */
#banner {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilos del botón 'sortir' */
#sortir {
    position: fixed; /* Posicionamiento fijo para que sea siempre accesible */
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em; /* Tamaño de fuente estándar */
}

/* Estilos del tablero de juego */
#tablero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Grid adaptable */
    gap: 5px;
    width: 100%;
    max-width: 400px; /* Ancho máximo del tablero */
    margin: auto; /* Centrado automático dentro del contenedor padre */
}

/* Estilos de las celdas del tablero */
.casella {
    border: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

/* Efecto al pasar el ratón sobre las celdas */
.casella:hover {
    background-color: #555;
    color: #fff;
}

/* Estilos Responsive para móviles */
@media (max-width: 480px) {
    #banner, #modal .modal-content, .resultado-oculto, .resultado-visible, footer {
        width: 90%;
        margin: 10px auto;
    }

    #tablero {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas para móviles */
    }

    #sortir {
        padding: 5px 10px;
        font-size: 0.8em; /* Tamaño de fuente reducido para móviles */
    }
}

/* Manteniendo la estética del diseño original con una estructura de código optimizada */
